<?xml version="1.0"?>
<robot name="robotixx_helmet" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="camera_name" default="zed" />
  <xacro:arg name="camera_model" default="zed" />
  <xacro:arg name="zed_frame" default="camera_link" />
  <xacro:arg name="cam_pos_x" default="0.02" />
  <xacro:arg name="cam_pos_y" default="0.0" />
  <xacro:arg name="cam_pos_z" default="0.05" />
  <xacro:arg name="cam_roll" default="0.0" />
  <xacro:arg name="cam_pitch" default="0.0" />
  <xacro:arg name="cam_yaw" default="0.0" />

  <!-- <link name="$(arg zed_frame)" /> -->

  <!-- CUSTOMIZED URDF BELOW -->


  <!-- base_link is a large rectangular box around the helmet. Some things to note: -->
  <!-- - We set the visual origin Z to half the box height, so that the link origin sits at the
  bottom of the box -->
  <!-- - We set the collision to be identical to the visual -->
  <!-- - We specified the colour manually (but still need to enter a name) -->
  <!-- - We specified all the inertial parameters manually -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry>
      <material name="grey">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.25 0.25" />
      </geometry>
    </collision>
  </link>
  <!-- A simple fixed joint from our empty world link, to our base. -->
  <!-- The base origin is offset from the world origin. -->



  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.08" radius="0.1" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.1" radius="0.12" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar_link" />
  </joint>

  
  
 


  <!-- camera_link describes the camera at the end of the arm -->
  <!-- - It has multiple visual elements, which ultimately get combined together -->
  <!-- - Even if we specify different materials, RViz will just colour them all the same as the
  first -->
  <!-- - Although we could also specify multiple collision geometries, instead we just use a single
  box that encompasses the whole camera -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.08" radius="0.1" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.1" radius="0.12" />
      </geometry>
    </collision>
  </link>

 
  <link name="">
    
  </link>
  <joint name="camera_joint" type="fixed">
    <origin xyz="0.1 0 0.05" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="camera_link" />
  </joint>
</robot>